/**
 * @file
 * Barcodes styles.
 */

.barcode-ean13 .code {
  padding-left: 0.7em;
}
.barcode-ean13 .value {
  margin-top: -1.2em;
  letter-spacing: 0;
  font-family: monospace;
  font-size: 1.1em;
}
.barcode-ean13 .slice {
  background-color: white;
}
